<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->

<!--<head th:replace="fragments ::head_html"></head>-->

<!--<body>-->
<!--  <div class="container-scroller">-->

<!--    <nav th:replace="fragments ::topNav"></nav>-->

<!--    <div class="container-fluid page-body-wrapper">-->

<!--      <div th:replace="fragments ::notificationsNav"></div>-->

<!--      <nav th:replace="fragments ::leftNav"></nav>-->

<!--      <div class="main-panel">-->

<!--        <div class="content-wrapper">-->

<!--          <div class="main-panel">-->

<!--            <div class="content-wrapper">-->

<!--                <div class="row">-->
<!--                  <div class="col-md-12 grid-margin">-->
<!--                    <div class="row">-->
<!--                      <div class="col-12 col-xl-8 mb-4 mb-xl-0">-->
<!--                        <h3 class="font-weight-bold">Welcome Username</span></h3>-->
<!--                        <h6 class="font-weight-normal mb-0">Everything is ready and waiting for your action. You have <span class="text-primary">3 new notifications!</span></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                  <div class="col-md-6 grid-margin stretch-card">-->
<!--                      <div class="card tale-bg">-->
<!--                        <div class="card-people mt-auto">-->
<!--                          <img th:src="@{/images/dashboard/people.svg}" alt="farmer">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--                    <div class="col-md-6 grid-margin transparent">-->
<!--                      <div class="row">-->
<!--                        <div class="col-md-6 mb-4 stretch-card transparent">-->
<!--                          <div class="card card-tale">-->
<!--                            <div class="card-body">-->
<!--                              <p class="mb-4">Total Products</p>-->
<!--                              <p class="fs-30 mb-2">4006</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 mb-4 stretch-card transparent">-->
<!--                          <div class="card card-dark-blue">-->
<!--                            <div class="card-body">-->
<!--                              <p class="mb-4">Total Posts</p>-->
<!--                              <p class="fs-30 mb-2">61344</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row">-->
<!--                        <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">-->
<!--                          <div class="card card-light-blue">-->
<!--                            <div class="card-body">-->
<!--                              <p class="mb-4">Total Connections</p>-->
<!--                              <p class="fs-30 mb-2">34040</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 stretch-card transparent">-->
<!--                          <div class="card card-light-danger">-->
<!--                            <div class="card-body">-->
<!--                              <p class="mb-4">Total Notifications</p>-->
<!--                              <p class="fs-30 mb-2">47033</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  -->
<!--                <div class="row">-->
<!--            <div class="col-md-12 grid-margin stretch-card">-->
<!--              <div class="card">-->
<!--                <div class="card-body">-->
<!--                  <p class="card-title mb-0">Products</p>-->
<!--                  <div class="table-responsive">-->
<!--                    <table class="table table-striped table-borderless">-->
<!--                      <thead>-->
<!--                        <tr>-->
<!--                          <th>Product Name</th>-->
<!--                          <th>Date</th>-->
<!--                          <th>Category</th>-->
<!--                          <th>Type</th>-->
<!--                        </tr>  -->
<!--                      </thead>-->
<!--                      <tbody>-->

<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          -->
<!--                <div class="row">-->
<!--                  <div class="col-md-12 grid-margin stretch-card">-->
<!--                    <div class="card">-->
<!--                      <div class="card-body">-->
<!--                        <p class="card-title">Connections</p>-->
<!--                        <div class="row">-->
<!--                          <div class="col-12">-->
<!--                            <div class="table-responsive">-->
<!--                              <table id="example" class="display expandable-table" style="width:100%">-->
<!--                                <thead>-->
<!--                                  <tr>-->
<!--                                    <th>Connection ID</th>-->
<!--                                    <th>Name</th>-->
<!--                                    <th>Buyer Type type</th>-->
<!--                                    <th>Date</th>-->
<!--                                    <th>Something</th>-->
<!--                                    <th>Status</th>-->
<!--                                    <th>Updated at</th>-->
<!--                                    <th></th>-->
<!--                                  </tr>-->
<!--                                </thead>-->
<!--                            </table>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->

<!--          </div>-->

<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

<!--  &lt;!&ndash; Edit Modal &ndash;&gt;-->
<!--&lt;!&ndash;  <div class="modal fade" id="editModal" tabindex="-1">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="modal-dialog">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="modal-content">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;          <h5 class="modal-title">Edit Your Profile</h5>&ndash;&gt;-->
<!--&lt;!&ndash;          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash; Floating Labels Form &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <form th:action="@{/user/info/ (id=${user.id})}" th:object="${user}" method="put" class="row g-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="form">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="firstNameEdit">First Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" th:href="*{firstName}" class="form-control" id="firstNameEdit" name="title" required>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="form">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="lastNameEdit">Last Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" th:href="*{lastName}" class="form-control" id="lastNameEdit" name="title" required>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="form">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="phoneEdit">Phone</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" th:href="*{phone}" class="form-control" id="phoneEdit" name="author" required>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="form">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="locationEdit">Location</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" th:href="*{location}" class="form-control" id="locationEdit" name="category" required>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="form">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="emailEdit">Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" th:href="*{email}" class="form-control" id="emailEdit" name="category" required>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="form">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="passwordEdit">Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" th:href="*{password}" class="form-control" id="passwordEdit" name="category" required>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="modal-footer">&ndash;&gt;-->
<!--&lt;!&ndash;              <button type="submit" class="btn btn-success">Update</button>&ndash;&gt;-->
<!--&lt;!&ndash;              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </form>&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash; End floating Labels Form &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  &lt;!&ndash; End Edit Modal&ndash;&gt;-->

<!--<footer th:replace="fragments ::footer"></footer>-->
<!--</body>-->

<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head_html"></head>
<body>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav th:replace="fragments :: topNav"></nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">

    <div id="right-sidebar" class="settings-panel">
      <i class="settings-close ti-close"></i>
      <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">Notifications</a>
        </li>
      </ul>
      <div class="tab-content" id="setting-content">
        <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
          </div>
          <ul class="chat-list">
            <li class="list active">
              <div class="profile"><img src="images/faces/face1.jpg" alt="image"><span class="online"></span></div>
              <div class="info">
                <p>Thomas Douglas</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">19 min</small>
            </li>
            <li class="list">
              <div class="info">
                <div class="wrapper d-flex">
                  <p>Catherine</p>
                </div>
                <p>Away</p>
              </div>
              <div class="badge badge-success badge-pill my-auto mx-2">4</div>
              <small class="text-muted my-auto">23 min</small>
            </li>
            <li class="list">
              <div class="info">
                <p>Daniel Russell</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">14 min</small>
            </li>
            <li class="list">
              <div class="info">
                <p>James Richardson</p>
                <p>Away</p>
              </div>
              <small class="text-muted my-auto">2 min</small>
            </li>
            <li class="list">
              <div class="info">
                <p>Madeline Kennedy</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">5 min</small>
            </li>
            <li class="list">
              <div class="info">
                <p>Sarah Graves</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">47 min</small>
            </li>
          </ul>
        </div>
        <!-- To do section tab ends -->

        <!-- chat tab ends -->
      </div>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">UI Elements</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
            <i class="icon-columns menu-icon"></i>
            <span class="menu-title">Form elements</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
            <i class="icon-bar-graph menu-icon"></i>
            <span class="menu-title">Charts</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
            <i class="icon-grid-2 menu-icon"></i>
            <span class="menu-title">Tables</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
            <i class="icon-contract menu-icon"></i>
            <span class="menu-title">Icons</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="icons">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
            <i class="icon-ban menu-icon"></i>
            <span class="menu-title">Error pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="error">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/documentation/documentation.html">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">Documentation</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome Aamir</h3>
                <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
              <div class="card-people mt-auto">
                <img th:src="@{/images/dashboard/people.svg}" alt="people">
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">Total Customers</p>
                    <p class="fs-30 mb-2">4006</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Total Products</p>
                    <p class="fs-30 mb-2">61344</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body">
                    <p class="mb-4">Total Connections</p>
                    <p class="fs-30 mb-2">34040</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body">
                    <p class="mb-4">Total Posts</p>
                    <p class="fs-30 mb-2">47033</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title mb-0">Top Products</p>
                <div class="table-responsive">
                  <table class="table table-striped table-borderless">
                    <thead>
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Connections</p>
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table id="example" class="display expandable-table" style="width:100%">
                        <thead>
                        <tr>
                          <th>Connection ID</th>
                          <th>Name</th>
                          <th>Buyer Type</th>
                          <th>Date</th>
                          <th>Status</th>
                          <th>Action</th>
                          <th></th>
                        </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<footer th:replace="fragments :: footer"></footer>
</body>

</html>

