<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head_html"></head>

<body>

    <div class="container-scroller">

        <nav th:replace="topNav"></nav>

        <div class="container-fluid page-body-wrapper">

            <div th:replace="notificationsNav"></div>

            <nav th:replace="fragments :: leftNav"></nav>

            <div class="main-panel">

                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title mb-0">Products</p>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Date</th>
                                                <th>Category</th>
                                                <th>Type</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product: ${product}">
                                                <td th:text="${product.name}"></td>
                                                <td th:text="${product.farmerID}"></td>
                                                <td th:text="${product.productCategory}"></td>
                                                <td th:text="${product.productType}"></td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                        <a th:href="@{/my_products/edit/{id} (id=${product.id})}" class="btn btn-warning" id="edit">Edit</a>
                                                        <a th:href="@{/my_products/{id} (id=${product.id})}" class="btn btn-danger" id="delete">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

<!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Floating Labels Form -->
                <form th:action="@{/my_products/{id} (id=${product.id})}" th:object="${product}" method="post" class="row g-3">
                    <div class="col-md-12">
                        <div class="form">
                            <label for="titleEdit">Name</label>
                            <input type="text" th:href="*{name}" class="form-control" id="titleEdit" name="title" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <label for="authorEdit">Product Category</label>
                            <input type="text" th:href="*{productCategory}" class="form-control" id="authorEdit" name="author" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <label for="categoryEdit">Product Type</label>
                            <input type="text" th:href="*{productType}" class="form-control" id="categoryEdit" name="category" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
                <!-- End floating Labels Form -->
            </div>
        </div>
    </div>
</div>
<!-- End Edit Modal-->

<!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Floating Labels Form -->
                <form th:action="@{/my_products}" th:object="${product}" method="post" class="row g-3">
                    <div class="col-md-12">
                        <div class="form">
                            <label for="title">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="title" name="title" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <label for="author">Product Category</label>
                            <input type="text" th:href="*{productCategory}" class="form-control" id="author" name="author" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <label for="category">Product Type</label>
                            <input type="text" th:href="*{productType}" class="form-control" id="category" name="category" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
                <!-- End floating Labels Form -->
            </div>
        </div>
    </div>
</div>
<!-- End Add Modal-->

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
